.box-profile {
    margin: 110px 0 0 370px;
}

.box-profile>h2{
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    
    color: #FFFFFF;
}

.form-group, .form-group-pic{
    width: 620px;
}

.form-group-pic{
    margin-top: 25px;
}

.form-group>label, .form-group-pic>label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;  
    color: rgba(255, 255, 255, 0.8);
    display: block;
    margin-bottom: 6px;
}

.form-group>label>input{
    display: block;
    width: 600px;
    height: 61px;
    border-radius: 6px;
    border: 2px solid #CCCCCC;
    background-color: #15202B;
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-left: 16px;
}
.form-group>input::-webkit-input-placeholder {
    color: #fff;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.input-design{
    border: 1px solid #ccc;
    border-radius: 6px;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    display: inline-block;
    font-family: 'Roboto', sans-serif;
}

.btn-upload {
    display:inline-block;
    width: 505px;
}