.box-message{
    background-color: #343A40;
    border-radius: 6px;
    width: 620px;
    height: 80px;
    display: block;
    margin: 10px;
    color: white;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}

.information{
    display: flex;
    color: #6C757D;
    justify-content: space-between;
    margin-bottom: 10px;
}

.name{
    display: flex;
    margin: 0;
}

.date{
    display: flex;
    margin: 0;
}

.message{
    margin-top: 10px;
    padding-top: 10px;
}